<h1><%= @post.title %></h1>

<h2>Content</h2><br>
<%= @post.content.sub(''"[\"') %>

<h3>Blogger's Page link</h3>
<%= link_to @post.blogger.name, blogger_path(@post.blogger) %>

<h3>Destination Page link</h3>
<%= link_to @post.destination.name, destination_path(@post.destination) %>

<h3>Post likes</h3>
<%= @post.likes %>

<h3>Click the button to like the post</h3>
<%# check 'rails routes' %>
<%= button_to "Like", post_likes_path(@post), method: :put %>