<h1><%= @post.title %></h1>
<br>

<h3>Content</h3>
<p><%= @post.content %></p>
<br>

<h3>Link to Blogger's Show Page</h3>
<%= link_to @post.blogger.name, blogger_path(@post.blogger) %>
<br><br>

<h3>Link to Destination's Show Page</h3>
<%= link_to @post.destination.name, destination_path(@post.destination) %>
<br><br>

<h3>Smash the Like button to like the post</h3>
<%= @post.likes %> <%= button_to "Like", @post, method: :patch %>